<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h1>Send a new message</h1>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
