<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-lg-6">
      <div class="card p-3">
        <h1>Edit a Dog</h1>
        <hr>

        <%= render "form" %>
        <%= link_to 'Back', dog_path(@dog), class: 'btn btn-outline-primary rounded-pill btn-block mt-3' %>
      </div>
    </div>
  </div>
</div>

