<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1><strong>Meet the team</strong></h1>
        </div>
        <div class="card-body">
          <h2><strong>Who we are?</strong></h2>
          <p>Two dev's who wants to make people and dogs happy.</p>
          <meta name="description" content="Both passionate about people code and dogs, we think animals are the best connexion to nature and <em>love</em>.">
          <h2><strong>How it works?</strong></h2>
          <p>What a better meet up than with a friendly pep who can make the magic happen?


          <br>The rules are really simple, you find the dog you love, you start a connexion with his/her human, and then you can walk the dog and try to find other friends and maybe <em>love</em> ❤️ !!!</br>

          <br>So if you didn’t find love yet, come in and find it with one of our adorable dog here.</br></p>
          <meta charset="utf-8">
        </div>
      </div>
    </div>
  </div>
</div>
