<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <h1>Meet the team</h1>
        <hr>
        <select class="form-control select required" name="review[rating]" id="review_rating"><option value=""></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option></select>
      </div>
    </div>
  </div>
</div>
