<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-8 col-xs-8 col-sm-6">
      <div class="card p-3">
        <h1>Edit my Renting</h1>
        <hr>
        <%= render 'form' %>
        <%= link_to 'Back', rentings_my_rentings_path, class: 'btn btn-outline-primary rounded-pill btn-block mt-3' %>
      </div>
    </div>
  </div>
</div>
